@import url('../fonts/flexa.css');

* { box-sizing: border-box; }

:root {
    font-size: 115%;
    --paper: #ffffff;
    --ink: #ff0000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;
    font-family: 'Flexa', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 89, "wght" 400; /* "italic" 0 */
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-feature-settings: "kern" 1, "liga" 1, "onum" 1;
    color: var(--ink);
    background-color: var(--paper);
    padding: 2rem 2.3rem;
    margin: 0;
}

h1 {
    font-size: inherit;
    font-variation-settings: "wdth" 89, "wght" 400, "ital" 100;
    margin-top: 0;
    font-weight: normal;
}

.text {
    white-space: pre-wrap;
}

.note {
    font-size: 1rem;
    line-height: 1.3;
    font-variation-settings: "wdth" 89, "wght" 200;
    margin-bottom: 0;
}

.canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#video {
    display: none;
}