* { box-sizing: border-box; }

:root {
    font-size: 115%;
    --green: #1db954;
    --paper: #131313;
    --ink: #ffffff;
}

body {
    position: relative;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--ink);
    background-color: var(--paper);
}

.canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#video {
    display: none;
}