@import url('../fonts/flexa.css');

* { box-sizing: border-box; }

:root {
    font-size: 115%;
    --green: #1db954;
    --paper: #131313;
    --ink: #ffffff;
}

body {
    position: relative;
    font-family: 'Flexa', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100, "wght" 100; /* "italic" 0 */
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-feature-settings: "kern" 1, "liga" 1, "onum" 1;
    color: var(--ink);
    background-color: var(--paper);
}

.canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#video {
    display: none;
}