<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <section>
        <h1>HIGHL<span class="font-style-bold">AI</span>GHT</h1>        
        <br>
        <p class="text">Your presentation is an event where <span class="heavy">one key moment</span> can be the deciding factor between getting the job or going home without one.</p>
        <br>
        <p class="text">What if instead of fiddling with a laserpointer or trackpad you could simply <span class="heavy">point</span> at a word to highlight it.</p>
        <br>
        <p class="text">HIGHLAIGHT allows you to do just that, all while being <span class="heavy">stylistically consistent</span>. No need for big red circles or text flying around.</p>
        <br>
        <p class="text">Try it live by <span class="heavy">enabling your camera</span>.</p>
        <br>
    </section>
    <p class="note">
        © 2020 Paula Nuber, Fabian Pitzer, Florian Kapaun
    </p>
    <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline></video>
        <svg id="cursor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path fill="#CCCCCC" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </div>
</body>
</html>