<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <section>
        <h1>What Is Artificial Intelligence</h1>
        <p class="text">It is a <span class="heavy">technological</span> advancement by humanity in</p>
        <p class="text">which computers can understand language and </p>
        <p class="text">perform complex mathematical operations to </p>
        <p class="text">solve problems.</p>
    </section>
    <p class="note">
        The above paragraph was written by an artificial intelligence.<br>
        Paula Nuber, Fabian Pitzer, Florian Kapaun
    </p>
    <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline></video>
        <svg id="cursor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path fill="#BBBBBB" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </div>
</body>
</html>