<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <section>
        <h1>What Is Artificial Intelligence</h1>
        <p id="text" class="text"></p>
        <p id="text2" class="text"></p>
        <p id="text3" class="text"></p>
    </section>
    <p class="note">
        The above paragraph was written by an artificial intelligence.<br>
        Paula Nuber, Fabian Pitzer, Florian Kapaun
    </p>
    <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline></video>
    </div>
</body>
</html>